<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>美多商城-找回密码</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
	<script type="text/javascript" src="js/hosts.js"></script>
	<script type="text/javascript" src="js/axios_0.18.0.min.js"></script>
</head>
<body>
	<div class="find_header">
		<img src="images/logo.png">
		<span class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;找回密码</span>
	</div>

	<div id="app" class="find_form" v-cloak>
		<div :class="step_classobj"></div>
		<!-- 第一步的表单 -->
		<form class="form_step" v-show="first_step" @submit.prevent="on_submit_first">
			<div class="form_group">
                <label>账号名：</label>
                <input type="text" name="" @blur="check_username" class="input_txt" v-model="mobile">
                <span class="error" v-show="usernsme_error_flag">{{usernsme_error}}</span>
            </div>
            <div class="form_group">
                <label>验证码：</label>
                <input type="text" name="" v-model="image_code_text" @blur="check_image_code" class="input_txt input_txt2">
                <img :src="image_code_url" alt="图形验证码" @click="generate_image_url" class="pic_code">
                <span class="error" v-show="image_code_error_flag">{{image_code_error}}</span>
            </div>
            <div class="form_group">
                <input type="submit" value="下一步" class="input_sub" >
            </div>
		</form>
		
		<!-- 第二步的表单 -->
		<form class="form_step"  v-show="second_step" @submit.prevent="on_submit_second">
			<div class="form_group">
                <label>手机号：</label>
                <input type="text" name="" v-model="mobile_forbidden" @blur="check_mobile_forbiden" class="input_txt">
                <span class="error">{{mobile_error}}</span>
            </div>
            <div class="form_group">
                <label>短信验证码：</label>
                <input type="text" name="" class="input_txt input_txt2" v-model="sms_code">
               	<a @click="send_sms_code" class="phone_code">{{sms_status}}</a>
                <span class="error" v-show="sms_error_flag">{{sms_error}}</span>
            </div>
            <div class="form_group">
                <input type="submit" value="下一步" class="input_sub">
            </div>
		</form>

		<!-- 第三步的表单 -->
		<form class="form_step" v-show="thired_step" @submit.prevent="on_submit_thired">
			<div class="form_group">
                <label>新密码：</label>
                <input type="password" name="" v-model="password" @blur="password_first_blur" class="input_txt">
                <span class="error" v-show="password_error_flag">{{password_error}}</span>
            </div>
            <div class="form_group">
                <label>再次输入：</label>
                <input type="password" name="" @blur="check_password" v-model="password2" class="input_txt">
                <span class="error" v-show="password2_error_flag">{{password2_error}}</span>
            </div>
            <div class="form_group">
                <input type="submit" value="下一步" class="input_sub">
            </div>
		</form>

		<!-- 第四部提示 -->
		<div class="pass_change_finish" style="display:none;" v-show="fouth_step">密码设置成功！</div>

	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<script type="text/javascript" src="js/findpasswd.js"></script>
	
</body>
</html>